{% extends 'dash.htm'%}
{% block body %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<script type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
       .calender_contain{
           margin-top: 10px;
           width: 1100px;
           margin-left: 100px;
         
       }
       table.center {
  margin-left: auto; 
  margin-right: auto;
}

table{ 
  border: 3px solid dimgray;
  border-collapse: collapse;
}
th,td{
  font-size: 17px;
  border-collapse: collapse;
  text-align: center;
  padding: 8px;
}
    </style>
</head>
<body>
    
        <div class="calender_contain">
            <div class="shadow p-3 mb-0 bg-white rounded">
                <div class="container">
                    <table style="width:100%" class="center">

                        
                
                        <tr>
                            <th colspan="9" style="font-size: 25px;border: 1px solid black; ">Sarswati College Of Engineering, Kharghar</th>
                        </tr>
                
                        <tr>
                            <td style="border: 1px solid black;" colspan="9">Navi Mumbai</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black;" colspan="9"> Plot No. 46, near MSEB Sub Station, Sector-5, Kharghar, Navi Mumbai, Maharashtra 410210</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black;" colspan="9" ><strong>Phone: </strong> +919320299474, <strong>Email:</strong> admissions.scoe@sce.edu.in</td>
                        </tr>
                
                        <tr>
                            <td style="border: 1px solid black;" colspan="9"><strong>Computer Science DEPARTMENT</strong></td>
                        </tr>
                
                        <tr>
                            <td style="border: 0px solid black;text-align: center;" colspan="5"><strong>CLASS-TE</strong></td>
                            <td style="border: 0px solid black;text-align: center;" colspan="4"><strong>SH-2021</strong></td>
                
                        </tr>
                
                        <tr>
                            <td style="border: 1px solid black;" colspan="2"><strong>Class Name: TE-COMP Sem-V</strong></td>
                            <td style="border: 1px solid black;" colspan="3"><strong>Time Table</strong></td>
                            <td style="border: 1px solid black;" colspan="4"><strong>From Date: 4th OCT 2021 onwards</strong></td>
                            
                        </tr>
                
                        <tr>
                            <td style="border: 1px solid black;"><strong>Period</strong></td>
                            <td style="border: 1px solid black;"><strong>09.00</strong></td>
                            <td style="border: 1px solid black;"><strong>10.00</strong></td>
                            <td style="border: 1px solid black;"><strong>11.00</strong></td>
                            <td style="border: 1px solid black;"><strong>12.00</strong></td>
                            <td style="border: 1px solid black;"><strong>01.00</strong></td>
                            <td style="border: 1px solid black;"><strong>02.00</strong></td>
                            <td style="border: 1px solid black;"><strong>03.00</strong></td>
                            <td style="border: 1px solid black;"><strong>04.00</strong></td>
                        </tr>
                
                        <tr>
                            <td style="border: 1px solid black;"><strong>Day</strong></td>
                            <td style="border: 1px solid black;"><strong>10.00</strong></td>
                            <td style="border: 1px solid black;"><strong>11.00</strong></td>
                            <td style="border: 1px solid black;"><strong>12.00</strong></td>
                            <td style="border: 1px solid black;"><strong>01.00</strong></td>
                            <td style="border: 1px solid black;"><strong>02.00</strong></td>
                            <td style="border: 1px solid black;"><strong>03.00</strong></td>
                            <td style="border: 1px solid black;"><strong>04.00</strong></td>
                            <td style="border: 1px solid black;"><strong>05.00</strong></td>        
                        </tr>
                
                        <tr>
                            <td style="border: 1px solid black;"><strong>Mon</strong></td>
                            <td style="border: 1px solid black;">TCS</td>
                            <td style="border: 1px solid black;">SE</td>
                            <td style="border: 1px solid black;">PCE-II</td>
                            <td style="border: 1px solid black;">CN</td>
                            <td style="border: 1px solid black;" rowspan="5"><strong>LUNCH<br>BREAK</strong></td>
                            <td style="border: 1px solid black;">IP</td>
                            <td style="border: 1px solid black;" colspan="2">Mini Project</td>
                            
                        </tr>
                
                        <tr>
                            <td style="border: 1px solid black;"><strong>Tue</strong></td>
                            <td style="border: 1px solid black;" colspan="2">PCE-II</td>
                            <td style="border: 1px solid black;">SE</td>
                            <td style="border: 1px solid black;">IP</td>
                            <td style="border: 1px solid black;" colspan="2">DWM</td>
                            <td style="border: 1px solid black;">Miniproject</td>
                
                        </tr>
                
                        <tr>
                            <td style="border: 1px solid black;"><strong>Wed</strong></td>
                            <td style="border: 1px solid black;">CN (PR)</td>
                            <td style="border: 1px solid black;">DWM (PR)</td>
                            <td style="border: 1px solid black;" colspan="2">SE (PR)</td>
                            <td style="border: 1px solid black;" colspan="2">PCE-II</td>
                            <td style="border: 1px solid black;">Miniproject PR</td>
                
                        </tr>
                
                        <tr>
                            <td style="border: 1px solid black;"><strong>Thu</strong></td>
                            <td style="border: 1px solid black;" colspan="2">DWN</td>
                            <td style="border: 1px solid black;">IP</td>
                            <td style="border: 1px solid black;">TCS</td>
                            <td style="border: 1px solid black;">CN</td>
                            <td style="border: 1px solid black;" colspan="2">Miniproject</td>
                        </tr>
                
                        <tr>
                            <td style="border: 1px solid black;"><strong>Fri</strong></td>
                            <td style="border: 1px solid black;">CN</td>
                            <td style="border: 1px solid black;">DWM</td>
                            <td style="border: 1px solid black;" colspan="2">TCS</td>
                            <td style="border: 1px solid black;">SE</td>
                            <td style="border: 1px solid black;" colspan="2">PCE-II (TU)</td>
                        </tr>
                
                        
                </div>
            </div>
        </div>
    
</body>
</html>
{% 	endblock body %}


